doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.flex-center.justify-between
        div.nav-left.margin-left-right
          a.margin-left-right(href="/")
            h1 The Blog 
        div.nav-right.margin-left-right 
          a.margin-left-right(href='/messages')
            h1 Messages
    block content
